{{ form_start(chatMessageForm) }}
    <div class="chatMessage-form">
        <div class="chatMessage-content-form">
            {{ form_widget(chatMessageForm._token)}}
            {{ form_row(chatMessageForm.content, {'attr': {'class': 'chat-content'}}) }}
        </div>
        <div class="chat-button">
            {{ form_row(chatMessageForm.envoyer) }}
        </div>
    </div>
{{ form_end(chatMessageForm) }}