{{ form_start(resetPasswordForm) }}
    {{ form_widget(resetPasswordForm._token)}}
    {{ form_row(resetPasswordForm.resetPasswordMail) }}

    <div class="form-button">
        {{ form_row(resetPasswordForm.confirmer) }}
    </div>

{{ form_end(resetPasswordForm, {render_rest: false}) }}