{{ form_start(form) }}
    {{ form_widget(form._token)}}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.trickGroup) }}

    <div id="trick_pictures" data-prototype="{{ include('snowtrick/_picture.html.twig', {form: form.pictures.vars.prototype})|e("html_attr") }}" data-index="{{ form.pictures|length > 0 ? form.pictures|last.vars.name + 1 : 0 }}">
        <h4>Images</h4>
        <div class="container-fluid">
            <div class="row row-cols-5">
                {% for picture in form.pictures %}
                    {% if picture %}
                        <div class="input-media hidden-block">
                            <img src="{{ asset('snowtrick_picture/') }}{{ picture.vars.data.fileName }}">
                            {{ include('snowtrick/_picture.html.twig', {form: picture}) }}
                        </div>
            
                    {% else %}
                        <div class="input-media">
                            {{ include('snowtrick/_picture.html.twig', {form: picture}) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>        

        {{ form_errors(form.pictures) }}

        <button type="button" class="btn btn-primary btn-new" data-collection="#trick_pictures">Ajouter une image</button>
    </div>

    <div id="trick_videos" data-prototype="{{ include('snowtrick/_video.html.twig', {form: form.videos.vars.prototype})|e("html_attr") }}" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}">
        <h4>Vidéos</h4>
        {% for video in form.videos %}
            <div class="input-media">
                {{ include('snowtrick/_video.html.twig', {form: video}) }}
            </div>
        {% endfor %}

        {{ form_errors(form.videos) }}
        
        <button type="button" class="btn btn-primary btn-new" data-collection="#trick_videos">Ajouter une vidéo Youtube</button>
    </div>

    <div>
        {{ form_errors(form) }}
    </div>

    <div class="form-button">
        {{ form_row(form.valider) }}
    </div>

{{ form_end(form, {render_rest: false}) }}

<script src="vendor/tinymce/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script>
	tinymce.init({
		selector: '.content'
		});
</script>
