{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <div class="home-bg">
        <div class="arrow-down">
            <a href="{{ path('app_snowtrick_index') }}#snowtrick-index"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
            </svg></a>
        </div> 
        <div class="container sentence">
            <h1>Snowtricks,</br>
                Le site communautaire pour les fans de snowboard.</h1>
            <p>
                <em>Entrepreneur ambitieux passionné de snowboard, l'objectif de ce site est la création d'un forum collaboratif pour faire connaître ce sport auprès du grand public et aider à l'apprentissage des figures. </br>
                Le contenu est apporté et disponible pour chacun des passionnés afin de développer un contenu riche et suscitant l'intérêt de tous les praticants. </br>
                Grâce à nos efforts combinés, venez participer à la plus grande aventure de snowboard en ligne, et échangez avec vos frères d'armes pour créer le forum le plus prolifique de son histoire.
                </em>
            </p>
        </div>
    </div>

    <div class="container-fluid" id="snowtrick-index">
        <div class="row row-cols-5">
            {% for snowtrick in snowtricks %}
                {% set first_pic_trick = snowtrick.pictures|first %}
                <div class="col snowtrick-card">
                    <div class="snowtrick-pic">
                        <img src="{{ asset('snowtrick_picture/') }}{{ first_pic_trick.fileName }}" class="card-img-top" alt="L'image de la figure">
                    </div>
                    <div class="snowtrick-info">
                        <div class="index-to-new">
                            <a href="{{ path('app_snowtrick_show', {'id': snowtrick.id, 'slug': snowtrick.slug, 'page': 1}) }}"><i class="bi bi-search"></i>{{ snowtrick.title }}</a>
                        </div>
                        {% if app.user == snowtrick.user or is_granted('ROLE_ADMIN') %}
                            <div class="index-action">
                                <div>
                                    <a href="{{ path('app_snowtrick_edit', {'id': snowtrick.id}) }}"><i class="bi bi-pencil btn btn-warning"></i></a>
                                </div>
                                <div>
                                    <form method="post" action="{{ path('app_snowtrick_delete', {'id': snowtrick.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer la figure ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ snowtrick.id) }}">
                                        <button class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div>
                    <p>Aucune figure n'existe encore.</p>
                </div>
            {% endfor %}
        </div>
        {% if isLoaded is not null %}
            <div class="arrow-up">
                <a href="{{ path('app_snowtrick_index') }}#snowtrick-index"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
                </svg></a>
            </div>
        {% endif %}
    </div>

    {% if isLoaded is null %}
        <div class="load-trick">
            <form action="{{ path('app_snowtrick_index') }}#snowtrick-index" method="post">
                    <input type="hidden" name="loadmore" value="loadmore">
                    <button class="btn btn-dark" type="submit">Charger toutes les figures</button>
            </form>
        </div>
    {% endif %}

{% endblock %}
