{% extends 'base.html.twig' %}

{% block title %}Snowtrick{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/blitzer/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    
{% endblock %}

{% block body %}

<div class="container snowtrick-show" id="show-general">
    <div class="snowtrick-title-show">
        <div class="show-picture">
            {% set first_pic_trick = snowtrick.pictures|first %}
            <img src="{{ asset('snowtrick_picture/') }}{{ first_pic_trick.fileName }}"/>
        </div>
       
        {% if app.user == snowtrick.user or is_granted('ROLE_ADMIN') %}
            <div class="show-action">
                <div class="action-bloc">
                    <a href="{{ path('app_snowtrick_edit', {'id': snowtrick.id}) }}"><i class="bi bi-pencil btn btn-warning" id="show-link-edit"></i></a>
                    <form method="post" action="{{ path('app_snowtrick_delete', {'id': snowtrick.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer la figure ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ snowtrick.id) }}">
                        <button class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}
        <div class ="snow-title">
            <h1>{{ snowtrick.title|escape }}</h1>
        </div>
    </div>
    

    <div class="media-carousel" id="pc-media"> 
        <div class="owl-carousel owl-pictures owl-theme" id="picture-carousel">
            {% for picture in pictures %}
                <div class="item" style="width:200px">
                    <img src="{{ asset('snowtrick_picture/') }}{{ picture.fileName }}"/>
                </div>
            {% endfor %}
        </div>

         <div class="owl-carousel owl-videos owl-theme" id="video-carousel">
            {% for video in snowtrick.videos %}
                <div class="item">
                    <iframe width="180" height="150" src="https://www.youtube.com/embed/{{ video.videoId }}" allow="encrypted-media" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="resp-media-bloc">
        {% if isLoaded is null %}
            <div id="load-media">
                <form action="{{ path('app_snowtrick_show', {'slug': snowtrick.slug, 'id': snowtrick.id, 'page': 1 })}}#resp-media" method="post">
                        <input type="hidden" name="loadmore" value="loadmore">
                        <button class="btn btn-dark" type="submit">Charger les médias</button>
                </form>
            </div>
        {% else %}
            <div class="media-carousel carousel-resp" id="resp-media"> 
                <div class="owl-carousel owl-pictures owl-theme" id="picture-carousel">
                    {% for picture in pictures %}
                        <div class="item" style="width:200px">
                            <img src="{{ asset('snowtrick_picture/') }}{{ picture.fileName }}"/>
                        </div>
                    {% endfor %}
                </div>

                <div class="owl-carousel owl-videos owl-theme" id="video-carousel">
                    {% for video in snowtrick.videos %}
                        <div class="item">
                            <iframe width="180" height="150" src="https://www.youtube.com/embed/{{ video.videoId }}" allow="encrypted-media" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <div class="content-show">
        {{ snowtrick.content|striptags }}
    </div>

    <div class="important-info">
        <div class="info-cell btn btn-secondary">
            {{ snowtrick.author }}
        </div>
        <div class="info-cell btn btn-secondary">
            {{ snowtrick.trickGroup.label }}
        </div>
        <div class="info-cell btn btn-secondary">
            Création > {{ snowtrick.creationDate|date('d/m/Y') }}
        </div>
        {% if snowtrick.modificationDate is not empty %}
            <div class="info-cell btn btn-secondary">
                Dernière modification > {{ snowtrick.modificationDate|date('d/m/Y') }}
            </div>  
        {% endif %}
    </div>

    <hr class="show-separation">

    <div class="comment-input">
        {% if app.user %}
            {{ include('chatMessage/_chatMessage-form.html.twig') }}
        {% else %}
            <div id="comment-noconnected" class="alert-danger alert" role="alert">
                <p>Vous devez vous connecter pour laisser un message dans le chat.</p>
            </div>
        {% endif %}
    </div>

    <hr class="show-separation">

    <div class="comment-bloc" id="comment_anchor">
        <div class="comments_list">
            {% if chatMessages %}
                {% for chatMessage in chatMessages %}
                    <div class="chat-bloc">
                        <div class="author-pic">
                            <img src="{{ asset('users_logo/') }}{{ chatMessage.user.logo }}" class="author-logo">
                        </div>
                        <div class="comments_author">
                            <div class="author-name">
                                <h6>
                                    <em><strong>{{ chatMessage.user.nickname }} {{ chatMessage.user.name }}</strong></em> a écrit le {{ chatMessage.creationDate|date('d/m/Y H:i:s') }} : 
                                </h6>
                            </div>
                            <div class="show-content">
                                <h6>
                                    {{ chatMessage.content|escape }}                    
                                </h6>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            {% else %}
                <div class="comments_list" id="no_comment">
                    <p>Il n'y a aucun message dans le chat pour l'instant.</p>
                </div>
            {% endif %}
        </div>
    </div>

    {% if chatMessages is not empty %}
        <div class="pagination_bloc row">
            {% for i in 1..pageNumber %} 
                {% if i == currentPage %}
                    <div class="actual_pagination col-1">
                        <p>{{ i }}</p>
                    </div>
                {% else %}
                    <div class="other_pagination">
                        <a href="{{ path('app_snowtrick_show', {'slug': snowtrick.slug, 'id': snowtrick.id, 'page': i })}}#comment_anchor"><p>{{ i }}</p></a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="back-home-btn">
    <a href="{{ path('app_snowtrick_index') }}" class="btn btn-dark">Retourner sur la page d'accueil</a>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {
            $('.owl-videos').owlCarousel({
                loop:true,
                autoplay: true,
                responsiveClass: true,
                autoplayHoverPause: true,
                autoplayTimeout: 5000,
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        {% if pictures|length == 1 %}
                            items:1,
                        {% else %}
                            items:2,
                        {% endif %}
                    },
                    1000:{
                        {% if snowtrick.videos|length == 1 %}
                            items:1,
                        {% elseif snowtrick.videos|length == 2 %}
                            items:2,
                            loop:false,
                        {% else %}
                            items: 3,
                        {% endif %}
                    }
                }
            })

            $('.owl-pictures').owlCarousel({
                loop:true,
                autoplay: true,
                responsiveClass: true,
                autoplayHoverPause: true,
                autoplayTimeout: 5000,
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        {% if pictures|length == 1 %}
                            items:1,
                        {% else %}
                            items:2,
                        {% endif %}
                    },
                    1000:{
                        {% if pictures|length == 1 %}
                            items:1,
                        {% elseif pictures|length == 2 %}
                            items:2,
                            loop:false,
                        {% else %}
                            items: 3,
                        {% endif %}
                    }
                }
            })
        })
    </script>
{% endblock %}
