{{ form_start(lostPasswordForm) }}
    {{ form_widget(lostPasswordForm._token)}}
    {{ form_row(lostPasswordForm.plainPassword) }}
    {{ form_help(lostPasswordForm.plainPassword) }}

    <div class="form-button">
        {{ form_row(lostPasswordForm.confirmer) }}
    </div>

{{ form_end(lostPasswordForm, {render_rest: false}) }}